.header1{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(50, 109, 89);
        padding: 1rem;
        font-size: 180px;
        text-align: center;
    }