    body {
      background-color: #f8f9f4;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }

    .header1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(50, 109, 89);
      font-size: 150px; 
      text-align: center;
      margin-bottom: 0px;
    }

    .ul{
      list-style-type: none;
    }
    .li{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(77, 131, 112);
      border: 2px solid #ccc;
      padding: 10px;
      margin-bottom: 5px;
    }



