<!--  Caio Hentz Peres Silva  -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1 class="header1">Usuários</h1>
    </header>  

    {% with messages = get_flashed_messages(with_categories=true)  %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}"> {{message}} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="content">
        <div class="add-user">
            <h1 class="add-user-title">Criar usuário</h1>
            <form action={{url_for("hello.novoUsuario")}} method="post" class="form" novalidate>

                {{form.hidden_tag()}}
                {{form.username.label}}
                {{form.username(class='form-control', placeholder="Nome do Usuário")}}
                {{form.submit(class='btn-submit')}}
            </form>
<!--                <label for="nome">Nome:</label>-->
<!--                <input type="text" id="nome" name="nome-usuario" required>-->
<!--                <button type="submit" class="cadastrar">Cadastrar</button>-->
<!--            </form>-->
        </div>


        <ul class="ul">
        {% for usuario in usuarios %}
            <li class="li"> 
                
                <form action="{{url_for('hello.editarUsuario', usuario_id=usuario.id)}}" method="POST">
                    <input type="text" name="nome_usuario" value="{{usuario.username}} " required>
                    <button type="submit" class="update">✏️</button>
                </form>
                <form action="{{url_for('hello.removerUsuario', usuario_id=usuario.id)}}" method="POST">
                    <button action= "submit" class="remove">🗑️</button>
                </form>
            </li>    
        {% endfor %}
        </ul>
    </div>
    

    
    

   

    

    
    
</body>

</html>